osmnx>=2.1
geopandas>=1.0
networkx>=3.0
shapely>=2.0
numpy
pandas
matplotlib
folium
contextily  # usado por src/data_generator.ipynb
scikit-learn
# usados apenas por src/data_generator.ipynb
fudgeo
pyrosm
